*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #027185;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 200px;
  padding: 0 40px;
  background: #343b45;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h1 {
  font-size: 3rem;
  font-weight: normal;
}

.header h2 {
  font-size: 1.8rem;
  color: #e7e7e7;
}

.section-header {
  font-size: 1.6rem;
  color: #2f2f36;
}

.content {
  display: grid;
  grid-template-columns: 1fr 400px;
}

aside {
  padding: 20px 40px;
  background: #eeeded;
}

aside .section-header {
  font-size: 1.6rem;
  color: #58585e;
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #9b9b9b;
}

aside ul {
  list-style: none;
}

main li,
aside li {
  margin-bottom: 10px;
}

.map-pin,
.mail,
.github,
.linkedin {
  position: relative;
  padding-left: 26px;
}

.map-pin::before,
.mail::before,
.github::before,
.linkedin::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
}

.map-pin::before {
  background: url('icons/map-pin.svg'), #343b45;
  background-size: 14px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.mail::before {
  background: url('icons/mail.svg'), #343b45;
  background-size: 14px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.github::before {
  background: url('icons/github.svg'), #343b45;
  background-size: 14px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.linkedin::before {
  background: url('icons/linkedin.svg'), #343b45;
  background-size: 14px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.check-list li {
  position: relative;
  padding-left: 26px;
}

.check-list li::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: url('icons/check.svg'), #343b45;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

aside section {
  margin-bottom: 20px;
}

main {
  padding: 20px 40px;
}

main .section-header {
  font-size: 1.6rem;
  color: #6b6b6b;
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #9b9b9b;
}

main ul {
  list-style-type: none;
}

main section {
  margin-bottom: 20px;
}

@media only screen and (max-width: 920px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 620px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .header h2 {
    font-size: 1.3rem;
  }

  main li {
    font-size: 0.9rem;
    word-wrap: break-word;
  }
}
